{% extends 'base.html' %}
{% load static %}

{% block title %}Login - Pastepun{% endblock %}

{% block page_css %}
<link rel="stylesheet" href="{% static 'paste/css/pages/auth.css' %}">
{% endblock %}

{% block content %}
<div class="auth-container">
    <h2 class="auth-title">Вход</h2>
    <p class="auth-subtitle">Введите свои данные для доступа к профилю.</p>
    
    <form action="" method="post">
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ next }}">
        
        {% if form.non_field_errors %}
            <div class="form-error">{{ form.non_field_errors }}</div>
        {% endif %}

        {% for field in form %}
        <div class="auth-form-group">
            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
            {{ field }}
            {% if field.errors %}
                <div class="form-error">{{ field.errors }}</div>
            {% endif %}
        </div>
        {% endfor %}
        
        <div class="auth-form-group">
            <input type="submit" class="btn submit" value="Войти">
        </div>

    </form>

    <div class="auth-footer">
        Нет аккаунта? <a href="{% url 'users:signup' %}">Создайте его за минуту</a>.
    </div>
</div>
{% endblock %}